%% Web Socket Server Configuration File
[
    {websocket, [

        %% The port to listen on for Web Socket connections.
        {port, 8888},

        %% A handler module implementing the Web Socket Handler behaviour.
        {handler, websocket_cube},

        %% The Web Socket timeout.
        {timeout, infinity}

    ]}
].
